logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules/
dist/
dist-ssr/
*.local
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
module_1/
uit_vsmec/

# Model files (quá nặng, không push git — dùng Google Drive)
*.pt
*.pth
*.pkl
backend/app/ai/models/*.pt

# -------------------------
# Backend (Python / FastAPI)
# -------------------------
# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
.venv/
env/
venv/
.env
*.out
*.err
*.sqlite3
*.db
*.sql
*.bak
*.tmp
docker/*.pid
docker/*.log
.coverage
htmlcov/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml
build/
dist/
*.egg-info/
*.csv
*.pdf