fastapi==0.115.0
uvicorn[standard]==0.30.0
sqlalchemy==2.0.35
pymysql==1.1.1
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
pydantic[email]==2.9.0
python-multipart==0.0.12
numpy==2.0.2
scipy==1.15.3
scikit-learn==1.6.1
lightfm==1.17
joblib==1.5.1
pandas==2.2.2
celery==5.3.6
redis==5.0.4
requests
bcrypt==3.2.2
